.mySelf-text{
    position: absolute;
    left: 10%;
    top:28%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.mySelf-container{
    position: relative;
    top: 6rem;
    width: 100%;
    height: 90vh;
}

.mySelf-text span{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color: rgba(198,201,216,.75);
    /* margin: 0; */
}

.mySelf-name{
    font-size: 55px;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin: 0;

}

.mySelf-text h1 .Typewriter__wrapper {
    font-size: 55px;
    color: #f4004d;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
  }



.mySelf-text h3{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin: 0;
    
}




@media (max-width: 768px) {

    .experience-logo{
        display: none;
    }

    .mySelf-name{
        font-size: 32px;
    }

    .mySelf-text h3{
        font-size: 32px;
        
    }

    .mySelf-text span{
        font-size: 13px;
        
    }

    .mySelf-text h1 .Typewriter__wrapper {
        font-size: 32px;
        color: #f4004d;
        font-family: "Montserrat", sans-serif;
      }

      .mySelf-container{
        width: 100%;
        height: 55vh;
      }

      .mySelf-text{
        width: 90%;
        top: 12%;
      }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .experience-logo{
        display: none;
    }


    .mySelf-container{
        width: 100%;
        height: 70vh;
      }

      .mySelf-text{
        width: 90%;
        top: 18%;
      }

      .mySelf-name{
        font-size: 32px;
    }

    .mySelf-text h3{
        font-size: 32px;
        
    }

    .mySelf-text span{
        font-size: 13px;
        
    }
  }