.home-navbar-mySlef{
    background-image: url('../../Images//profilePhoto.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
 
}






